In [1]:
1+1

2

This is my first notebook

# tutorial week 1

In [3]:
2.4*6

14.399999999999999

In [4]:
1-17

-16

In [5]:
56/7

8.0

In [6]:
56/9

6.222222222222222

In [7]:
56//9

6

In [8]:
56/11

5.090909090909091

In [9]:
11/3

3.6666666666666665

In [10]:
11//3

3

In [11]:
ture

NameError: name 'ture' is not defined

In [12]:
Ture

NameError: name 'Ture' is not defined

In [13]:
 Ture

NameError: name 'Ture' is not defined

In [14]:
False

False

In [15]:
true

NameError: name 'true' is not defined

In [16]:
True

True

In [17]:
2.5**4

39.0625

In [18]:
3==3

True

In [19]:
3==4

False

In [20]:
"adc"=="acd"

False

In [21]:
a=1
b=2
c=a
b+c

3

In [22]:
a

1

In [23]:
b

2

In [24]:
c

1

In [25]:
a+=a
a

2

In [26]:
a

2

In [27]:
a*=a
a

4

In [28]:
aa*=
a

SyntaxError: invalid syntax (<ipython-input-28-d4bfbb736ce8>, line 1)

In [29]:
a

4

In [30]:
a

4

In [31]:
b*=b

In [32]:
b

4

In [33]:
b*=b
b

16

In [34]:
a

4

In [35]:
type b

SyntaxError: invalid syntax (<ipython-input-35-4e69ad99bd20>, line 1)

In [1]:
a*=a
a

NameError: name 'a' is not defined

# b=2
c=3

In [9]:
names=["lands","china","USA","tensorflow",1,2,33,444]

In [6]:
type(names)

list

In [4]:
type(names
)

list

In [7]:
names[0]

IndexError: list index out of range

In [8]:
names[-1]

IndexError: list index out of range

In [10]:
names[-1]

444

In [11]:
len(names)

8

In [12]:
names[1:5]

['china', 'USA', 'tensorflow', 1]

In [13]:
names[1:-1]

['china', 'USA', 'tensorflow', 1, 2, 33]

In [14]:
names.append("16skaj")

In [15]:
names

['lands', 'china', 'USA', 'tensorflow', 1, 2, 33, 444, '16skaj']

In [16]:
names.append([1,2,3])

In [17]:
names

['lands', 'china', 'USA', 'tensorflow', 1, 2, 33, 444, '16skaj', [1, 2, 3]]

In [31]:
ty=["apple","google","microsoft","facebook"]

In [19]:
allnames=names+newnames

TypeError: can only concatenate list (not "tuple") to list

In [20]:
allnames

NameError: name 'allnames' is not defined

In [23]:
ty

NameError: name 'ty' is not defined

In [22]:
allnames=names + newnames

TypeError: can only concatenate list (not "tuple") to list

In [25]:
ty

('apple', 'google', 'microsoft', 'facebook')

In [26]:
names

['lands', 'china', 'USA', 'tensorflow', 1, 2, 33, 444, '16skaj', [1, 2, 3]]

In [27]:
type(names)

list

In [28]:
ty

('apple', 'google', 'microsoft', 'facebook')

In [29]:
type(ty)

tuple

In [30]:
List(ty)

NameError: name 'List' is not defined

In [32]:
ty

['apple', 'google', 'microsoft', 'facebook']

In [33]:
app=names+

In [34]:
app

['lands',
 'china',
 'USA',
 'tensorflow',
 1,
 2,
 33,
 444,
 '16skaj',
 [1, 2, 3],
 'apple',
 'google',
 'microsoft',
 'facebook']

In [35]:
"facebook" in app

True

In [36]:
"Facebook" in app

False

In [37]:
app.insert(2,"happy")

In [38]:
app

['lands',
 'china',
 'happy',
 'USA',
 'tensorflow',
 1,
 2,
 33,
 444,
 '16skaj',
 [1, 2, 3],
 'apple',
 'google',
 'microsoft',
 'facebook']

In [39]:
len(app)

15

In [40]:
app.pop()

'facebook'

In [41]:
app

['lands',
 'china',
 'happy',
 'USA',
 'tensorflow',
 1,
 2,
 33,
 444,
 '16skaj',
 [1, 2, 3],
 'apple',
 'google',
 'microsoft']

In [42]:
app.count(1)

1

In [43]:
app.count([1,2,3])

1

In [44]:
app.count(1,2,3)

TypeError: count() takes exactly one argument (3 given)

In [45]:
app[::-1]

['microsoft',
 'google',
 'apple',
 [1, 2, 3],
 '16skaj',
 444,
 33,
 2,
 1,
 'tensorflow',
 'USA',
 'happy',
 'china',
 'lands']

In [46]:
app

['lands',
 'china',
 'happy',
 'USA',
 'tensorflow',
 1,
 2,
 33,
 444,
 '16skaj',
 [1, 2, 3],
 'apple',
 'google',
 'microsoft']

In [47]:
app.reverse()

In [48]:
app

['microsoft',
 'google',
 'apple',
 [1, 2, 3],
 '16skaj',
 444,
 33,
 2,
 1,
 'tensorflow',
 'USA',
 'happy',
 'china',
 'lands']

In [49]:
del app[2]

In [50]:
app

['microsoft',
 'google',
 [1, 2, 3],
 '16skaj',
 444,
 33,
 2,
 1,
 'tensorflow',
 'USA',
 'happy',
 'china',
 'lands']

In [51]:
bpp=[2,33,958,6,584,354,21,65,74]

In [52]:
bpp

[2, 33, 958, 6, 584, 354, 21, 65, 74]

In [53]:
sorted(bpp)

[2, 6, 21, 33, 65, 74, 354, 584, 958]

In [54]:
bpp

[2, 33, 958, 6, 584, 354, 21, 65, 74]

In [55]:
bpp.sort=()

AttributeError: 'list' object attribute 'sort' is read-only

In [56]:
bpp.sort()

In [57]:
bpp

[2, 6, 21, 33, 65, 74, 354, 584, 958]

In [58]:
max bpp

SyntaxError: invalid syntax (<ipython-input-58-af7df91500e3>, line 1)

In [59]:
max(bpp)

958

In [60]:
min(bpp)

2

In [61]:
sum(bpp)

2097

# 字符串

In [62]:
'I\'m gonna go home'

"I'm gonna go home"

In [63]:
print('''asodjasodj
odijaosdja
I\'am gonna sleep early tonight''')

asodjasodj
odijaosdja
I'am gonna sleep early tonight

In [64]:
type('a')

str

In [65]:
s="I'm gonna sleep early tonight"

In [66]:
s

"I'm gonna sleep early tonight"

In [67]:
s[4:9]

'gonna'

In [68]:
s.upper()

"I'M GONNA SLEEP EARLY TONIGHT"

In [69]:
s

"I'm gonna sleep early tonight"

In [70]:
s2=s.upper()

In [71]:
s2

"I'M GONNA SLEEP EARLY TONIGHT"

In [72]:
s2.lower()

"i'm gonna sleep early tonight"

In [73]:
s

"I'm gonna sleep early tonight"

In [74]:
s.capitalize()

"I'm gonna sleep early tonight"

In [75]:
s2.capitalize()

"I'm gonna sleep early tonight"

In [76]:
s2

"I'M GONNA SLEEP EARLY TONIGHT"

In [77]:
s=s2.lower()

In [78]:
s

"i'm gonna sleep early tonight"

In [79]:
s.capitalize()

"I'm gonna sleep early tonight"

In [80]:
s

"i'm gonna sleep early tonight"

In [81]:
s.startswith('i')

True

In [82]:
s.startswith('I')

False

In [83]:
s.endswith('e')

False

In [84]:
s.strip()

"i'm gonna sleep early tonight"

In [85]:
w='       abcdefg    '

In [86]:
w.strip()

'abcdefg'

In [87]:
w.lstrip()

'abcdefg    '

In [88]:
w

'       abcdefg    '

In [89]:
w.rstrip()

'       abcdefg'

In [90]:
s.split()

["i'm", 'gonna', 'sleep', 'early', 'tonight']

In [91]:
names

['lands', 'china', 'USA', 'tensorflow', 1, 2, 33, 444, '16skaj', [1, 2, 3]]

In [92]:
del names[-1]

In [93]:
names

['lands', 'china', 'USA', 'tensorflow', 1, 2, 33, 444, '16skaj']

In [94]:
del names[-5:-1]

In [95]:
names

['lands', 'china', 'USA', 'tensorflow', '16skaj']

In [96]:
names.pop()

'16skaj'

In [97]:
names

['lands', 'china', 'USA', 'tensorflow']

In [98]:
" ".join(names)

'lands china USA tensorflow'

In [99]:
names

['lands', 'china', 'USA', 'tensorflow']

In [100]:
s

"i'm gonna sleep early tonight"

In [101]:
s.find('y')

20

In [102]:
s.find("k")

-1

In [103]:
s.replace(" ",",")

"i'm,gonna,sleep,early,tonight"

# control statement

In [108]:
x=16
if x>=10:
    print("value greater than or equal to 10")
elif x<=15:
    print("value between 11 and 15")
else:
    print("value less than 15")

value greater than or equal to 10

In [109]:
 names

['lands', 'china', 'USA', 'tensorflow']

In [110]:
for name in names:
    print(name)

lands
china
USA
tensorflow

In [111]:
for i in range(5):
    print(i)

0
1
2
3
4

In [112]:
type(range(5))

range

In [113]:
list(range(5))

[0, 1, 2, 3, 4]

In [114]:
list(range(2,10,3))

[2, 5, 8]

In [115]:
list(range(2,10,-1))

[]

In [116]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [117]:
for i in range(len(names)):
    print(i,names[i])

0 lands
1 china
2 USA
3 tensorflow

In [118]:
for i,name in enumerate(names):
    print(i,name)

0 lands
1 china
2 USA
3 tensorflow

In [120]:
["happy "+name for name in names]

['happy lands', 'happy china', 'happy USA', 'happy tensorflow']

In [121]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [123]:
i=1
while True:
    print(i)
    i+=1
    if i>5:
        break

1
2
3
4
5

In [125]:
i=0
while i<20:
    if i % 5 == 0:
        i+=1
        continue
    print(i)
    i+=1

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [127]:
for k in range(5):
    print("1")

1
1
1
1
1

In [131]:
i=1

In [132]:
i

1

In [135]:
i=0
j=1
k=1

In [136]:
i=0
j=1
k=1
while k<=100:
    print(i)
    j+=i
    i=j-i
    k+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

In [137]:
i=0
j=1
for k in range(100):
    print(i)
    j+=i
    i=j-i

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

In [138]:
fibs=[0,1]
for i in range(100):
    fibs.append(fibs[-1] + fibs[-2])
fibs

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075,
 573147844013817084101]

In [154]:
na=[1,2,3,3,3,4,5]

In [140]:
names

[1, 2, 3, 3, 3, 4, 5]

In [141]:
empty_set=set()

In [142]:
empty_set

set()

In [143]:
set=names

In [144]:
set

[1, 2, 3, 3, 3, 4, 5]

In [145]:
set={1,2,3,3,3,4,5}

In [146]:
set

{1, 2, 3, 4, 5}

In [147]:
type(empty_set)

set

In [148]:
type({})

dict

In [149]:
set(names)

TypeError: 'set' object is not callable

In [153]:
names

[1, 2, 3, 3, 3, 4, 5]

In [151]:
set(names)

TypeError: 'set' object is not callable

In [152]:
set{names}

SyntaxError: invalid syntax (<ipython-input-152-cee6fd3c258f>, line 1)

In [155]:
na

[1, 2, 3, 3, 3, 4, 5]

In [156]:
set(na)

TypeError: 'set' object is not callable

In [157]:
del set

In [158]:
set

set

In [159]:
set(na)

{1, 2, 3, 4, 5}

In [160]:
na

[1, 2, 3, 3, 3, 4, 5]

In [161]:
list(set(na))

[1, 2, 3, 4, 5]

In [162]:
set("banana")

{'a', 'b', 'n'}

In [164]:
{x for x in "banana" if x not in "an"}

{'b'}

In [165]:
t=(1,"facebook","google")

In [166]:
t

(1, 'facebook', 'google')

In [167]:
type(t)

tuple

In [168]:
x,y,z=t

In [169]:
x,y,z

(1, 'facebook', 'google')

In [170]:
x

1

In [171]:
y

'facebook'

In [172]:
z

'google'

In [178]:
fruit={"apple":0,"banana":1,"orange":"abd"}
fruit

{'apple': 0, 'banana': 1, 'orange': 'abd'}

In [179]:
type(fruit)

dict

In [180]:
fruit.keys()

dict_keys(['apple', 'banana', 'orange'])

In [181]:
fruit.values()

dict_values([0, 1, 'abd'])

In [183]:
fruit["orange"]

'abd'

In [184]:
fruit(akk)

NameError: name 'akk' is not defined

In [189]:
fruit.get("akk",0)

0

In [192]:
words = [("a",1),("b",2),("c",3)]

In [193]:
words

[('a', 1), ('b', 2), ('c', 3)]

In [195]:
words=dict(words)
words

{'a': 1, 'b': 2, 'c': 3}

In [196]:
print(words)

{'a': 1, 'b': 2, 'c': 3}

In [197]:
words.get("a",0)

1

In [5]:
AKD = [('a',1,2),('b',3,4),('c',5,6)]

In [6]:
AKD

[('a', 1, 2), ('b', 3, 4), ('c', 5, 6)]

In [7]:
type(AKD)

list

In [8]:
dict(AKD)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [8]:
vocab = ["apple","bit","chrome","face","bank","book"]

In [2]:
vocab

['apple', 'bit', 'chrome', 'face', 'bank', 'book']

In [3]:
vocab2 = {j:i for i,j in enumerate(vocab)}

In [4]:
vocab2

{'apple': 0, 'bit': 1, 'chrome': 2, 'face': 3, 'bank': 4, 'book': 5}

In [5]:
for k,v in vocab2.items():
    print(k,v)

apple 0
bit 1
chrome 2
face 3
bank 4
book 5

In [6]:
vocab2.items()

dict_items([('apple', 0), ('bit', 1), ('chrome', 2), ('face', 3), ('bank', 4), ('book', 5)])

In [9]:
vocab2.keys()

dict_keys(['apple', 'bit', 'chrome', 'face', 'bank', 'book'])


## 堆栈 stack

In [12]:
stack = []
def stack_push(item):
    stack.append(item)
def stack_pop():
    return stack.pop()
stack_push("a")
print(stack_pop())
stack_push("b")
stack_push("c")
stack_push("d")
print(stack_pop())

a
d

## 队列 queue

In [13]:
queue = []
def queue_push(item):
    queue.append(item)
def queue_pop():
    return queue.pop(0)
queue_push("a")
print(queue_pop())
queue_push("b")
queue_push("c")
queue_push("d")
print(queue_pop())

a
b

## function

In [18]:
def fib(n):
    fibs=[0,1]
    if n<2:
        return fibs[:n]
    for i in range(n-2):
        fibs.append(fibs[-1] + fibs[-2])
    return fibs

In [19]:
fib(5)

[0, 1, 1, 2, 3]

In [20]:
fib(1)

[0]

In [21]:
fib(0)

[]

In [8]:
list(range(1))

[0]

In [22]:
def print_arge(n, m, k):
    print(n, m ,k)
    return

In [23]:
print_arge(1,2,3,4,5,6)

TypeError: print_arge() takes 3 positional arguments but 6 were given

In [24]:
def print_arge(*arge):
    print(arge)
    print(type(arge))
    return

In [25]:
print_arge(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [40]:
def print_kwargs(*args,**kwargs):
    print(args)
    print(kwargs)
    print(" ".join([str(item) for item in args]))
    print(type([str(item) for item in args]))
    for k,v in kwargs.items():
        print(k, v)
    return
print_kwargs(2,"apple","banana","keys","words",name="better life",week=3)

(2, 'apple', 'banana', 'keys', 'words')
{'name': 'better life', 'week': 3}
2 apple banana keys words
<class 'list'>
name better life
week 3

In [41]:
def print_args(a,b):
    print(a,b)
print(1,2)

1 2

In [42]:
args=[1,2]
print_args(args)

TypeError: print_args() missing 1 required positional argument: 'b'

In [43]:
args=[1,2]
print_args(*args)

1 2

## 读取文件

In [1]:
fin = open("sample.csv","r")
fin.readlines()

['4/5/2015 13:34,Apples,73\n',
 '4/5/2015 3:41,Cherries,85\n',
 '4/6/2015 12:46,Pears,14\n',
 '4/8/2015 8:59,Oranges,52\n',
 '4/10/2015 2:07,Apples,152\n',
 '4/10/2015 18:10,Bananas,23\n',
 '4/10/2015 2:40,Strawberries,98']

In [7]:
fin = open("sample.csv","r")
fin.readline()

'4/5/2015 13:34,Apples,73\n'

In [8]:
fin.close()

In [9]:
with open("sample.csv","r") as fin:
    for line in fin:
        print(line)

4/5/2015 13:34,Apples,73

4/5/2015 3:41,Cherries,85

4/6/2015 12:46,Pears,14

4/8/2015 8:59,Oranges,52

4/10/2015 2:07,Apples,152

4/10/2015 18:10,Bananas,23

4/10/2015 2:40,Strawberries,98

In [10]:
data=[]
with open("sample.csv","r") as fin:
    for line in fin:
        data.append(line)

In [11]:
data

['4/5/2015 13:34,Apples,73\n',
 '4/5/2015 3:41,Cherries,85\n',
 '4/6/2015 12:46,Pears,14\n',
 '4/8/2015 8:59,Oranges,52\n',
 '4/10/2015 2:07,Apples,152\n',
 '4/10/2015 18:10,Bananas,23\n',
 '4/10/2015 2:40,Strawberries,98']

In [14]:
with open("sample2.csv","w") as fout:
    for line in data:
        fout.write(line)

In [17]:
with open("sample.csv","r") as fin:
    for line in fin:
        print("\t".join(line.split(",")))

4/5/2015 13:34	Apples	73

4/5/2015 3:41	Cherries	85

4/6/2015 12:46	Pears	14

4/8/2015 8:59	Oranges	52

4/10/2015 2:07	Apples	152

4/10/2015 18:10	Bananas	23

4/10/2015 2:40	Strawberries	98

In [18]:
with open("sample.csv","r") as fin,open("sample.tsv","w") as fout:
    for line in fin:
        print("\t".join(line.split(",")))

4/5/2015 13:34	Apples	73

4/5/2015 3:41	Cherries	85

4/6/2015 12:46	Pears	14

4/8/2015 8:59	Oranges	52

4/10/2015 2:07	Apples	152

4/10/2015 18:10	Bananas	23

4/10/2015 2:40	Strawberries	98